@font-face {
  font-family: "Sharp Grotesk Medium 25";
  src: url("//db.onlinewebfonts.com/t/5a5c2865c8fa7a166d94d0880ca9eebc.eot");
  src: url("//db.onlinewebfonts.com/t/5a5c2865c8fa7a166d94d0880ca9eebc.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5a5c2865c8fa7a166d94d0880ca9eebc.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5a5c2865c8fa7a166d94d0880ca9eebc.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5a5c2865c8fa7a166d94d0880ca9eebc.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5a5c2865c8fa7a166d94d0880ca9eebc.svg#Sharp Grotesk Medium 25")
      format("svg");
}
@font-face {
  font-family: "Sharp Grotesk Book 25";
  src: url("//db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.eot");
  src: url("//db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.svg#Sharp Grotesk Book 25")
      format("svg");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');