@media only screen and (max-width: 480px) {
    .hero {
        display: none;
    }

    .hero-mobile {
        height: calc(100vh - 75px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .hero-mobile-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;
        font-size: 6vw;
    }

    .hero-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
    }

    .hero-mobile-avatar {
        height: 100%;
        object-fit: contain;
        background-image: url(Images/blobanimation.svg);
        background-repeat: no-repeat;
        background-size: 115%;
        background-position: center;
    }

    .hero-bottom a {

        height: 15%;
    }

    .hero-mobile-button {
        width: 100%;
        height: 100%;
        background-color: var(--darkBlue);
        color: var(--white-background);
        border: 0;
        font-size: 5vw;
        text-align: center;
        border-radius: 2vw;
    }

    .hero-mobile-button:hover {
        border: 1px solid var(--darkBlue);
        background-color: transparent;
        color: var(--darkBlue);
    }

    .green-bubble {
        width: 100%;
        border-radius: 20px;
        padding: 2% 0%;
    }

    .green-bubble span {
        font-size: 3.6vw;
        padding: 1% 0%;
    }

    .offers {
        height: 100vh;
    }

    .offers-content .title {
        font-size: 4.3vw;
        padding: 10% 0;
    }

    .icons {
        flex-direction: column;
        height: 100%;
    }

    .icons-line {
        height: 2px;
        width: 70%;
    }

    .icons .icon {
        width: 100%;
    }

    .outro-text {
        padding: 10% 0;
    }

    .outro-text span {
        width: 100%;
        text-align: center;
        font-size: 3vw;
    }

    .testimonials {
        height: 220vh;
    }

    .review {
        width: 100%;
        flex-direction: column;
    }

    .review-left {
        z-index: 5;
        margin-bottom: -35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review-left .testimonial-name {
        font-size: 4vw;
    }

    .review-left .title {
        font-size: 3vw;
        font-style: italic;
        font-family: "Poppins", sans-serif;
    }

    .review-right {
        width: 100%;
    }

    .review-right .testimonial-comment {
        font-size: 2vw;
        padding-top: 40%;
    }

    .testimonials-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .testimonial-text {
        display: flex;
        padding: 10% 0;
        flex-direction: column;
    }

    .testimonial-text span {
        width: 100%;
        text-align: center;
        font-size: 4.3vw;
        line-height: 5vw;
    }

    .testimonial-line {
        width: 65%;
        border-bottom: 2px solid black;
    }

    .reasons-section .reason {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5% 5%;
    }

    .reason .reason-title {
        text-align: center;
        margin: 3% 0%;
        font-size: 4vw;
    }

    .reason .reason-description {
        border: 2px solid var(--green);
        border-radius: 4vw;
        padding: 3%;
        width: 100%;
        font-size: 2vw;
        text-align: center;
        line-height: 3vw;

    }

    .about-section {
        height: auto;
    }

    .about-content {
        flex-direction: column-reverse;
    }

    .about-content .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .about-avatar {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-left: 0%;
    }

    .about-content .about-text {
        width: 100%;
        height: 100%;
        font-size: 2.2vw;
        margin-right: 0%;
    }

    .img-description {
        z-index: 5;
        font-family: "Poppins", sans-serif;
        font-style: italic;
        font-size: 2.5vw;
        position: absolute;
        bottom: 5%;
        left: 20%;
    }

    .arrow {
        position: absolute;
        width: 6vw;
        bottom: 0%;
        right: 110%;
        transform: scaleX(-1) rotate(15deg);

    }

    .pool-section {

        justify-content: flex-start;
    }

    .pool-text {
        padding: 10% 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .pool-text span {
        text-align: center;
        font-size: 2.8vw;
        padding: 1% 0;
    }

    .pool-section {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pool-section img {
        height: 100%;
        flex: 1;
        width: 90%;
        object-fit: cover;
        padding-bottom: 10%;
    }

    .calendly {
        display: none;
    }

    .calendly-mobile{
        position: relative;
        background-color: black;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        color: var(--white-background);
        padding: 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 75px);
      }
 
  .calendly-mobile-text{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .calendly-mobile-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4vw;
    padding: 5% 0%;
  }
  .calendly-mobile-line{
    border-bottom: 1px solid var(--white-background);
    width: 50%;
  }
  .calendly-mobile .calendly-mobile-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 0%;
    font-size: 3vw;
 
  }
  .calendly-cta{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .calendly-mobile-button{
    width: 100%;
    display: flex;
    border: 3px solid var(--green);
    flex-direction: column;
    align-items: center;
    border-radius: 1000px;
    padding: 3.5% 1.5%;
    font-size: 3.5vw;
    background-color: var(--green);
    text-decoration: none;
    color: black;
  }
  .calendly-mobile-button span{
    padding: 2% 0%;
    
  }
  .calendly-mobile-button:hover{
    background-color: var(--lightBlue);
    border: 3px solid var(--green);
    background-color: transparent;
    color: var(--white-background);
  }

  .social-icons {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
  }
  
  .social-icons i {
    padding: 0 10px;
    color: var(--green);
    margin: 5px;
    font-size: 24px;
  }
    


}