@import url(//db.onlinewebfonts.com/c/91d3afe918937141b6ae8e43b1005bc8?family=Sharp+Grotesk+Book+25);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sharp Grotesk Book 25", Arial, sans-serif;
}
.hero-mobile{
  display: none;
}
.underlined {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-skip-ink: none;
  text-underline-offset: 1vw;
}
.underlined-thin {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
body {
  background-color: var(--white-background);
}
:root {
  --text-color: #1d1d1d;
  --white-background: rgb(247, 246, 246);
  --green: rgb(202, 224, 31);
  --darkBlue: rgb(40, 74, 102);
  --lightBlue: rgb(30, 203, 225);
}
header {
  z-index: 1000;
  background-color: var(--white-background);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  width: 100%;
  height: 75px;
}
.logo {
  height: 90%;
  object-fit: cover;
}
.header-button {
  height: 50px;
  width: 200px;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid var(--darkBlue);
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--darkBlue);
}
.header-button:hover {
  background-color: var(--darkBlue);
  color: white;
}
.hero {
  padding: 2% 5%;
  padding-bottom: 0px;
  height: calc(100vh - 75px);
}
.hero-content {
  padding-top: 2%;
  height: 100%;
  display: flex;
}
.hero-content-left {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.hero-text {
  display: flex;
  flex-direction: column;
}
.hero-text span {
  font-family: "Sharp Grotesk Medium 25", Arial, sans-serif;
}

.hero-text span {
  font-size: 3.4vw;
  line-height: 6vw;
}
.hero-line {
  border-bottom: 1px solid black;
  width: 65%;
}
.hero-button {
  margin-top: 2.5%;
  height: 75px;
  width: 300px;
  border-radius: 150px;
  background-color: transparent;
  background-color: var(--darkBlue);
  color: var(--white-background);
  border: 0;
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.hero-button:hover {
  border: 1px solid var(--darkBlue);
  background-color: transparent;
  color: var(--darkBlue);
}
.hero-content-right {
  overflow: hidden;
  position: relative;
  width: 40%;
  height: 100%;
  background-image: url(Images/blobanimation.svg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.green-bubble {
  margin: auto;
  border-radius: 50px;
  width: 90%;
  padding: 3% 0px;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green-bubble span {
  font-size: 3.1vw;
  line-height: 4vw;
}
.offers {
  width: 100%;
  height: calc(102vh);
}
.offers-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.offers-content .title {
  width: 100%;
  padding: 0% 5%;
  text-align: center;
  font-size: 3.7vw;
  line-height: 3.6vw;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.icons .icon {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons .icon .icon-frame {
  width: 55%;
  aspect-ratio: 1/1;
  background-color: var(--green);
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}
.icons .icon img {
  object-fit: cover;
  width: 60%;
  aspect-ratio: 1/1;
}
.icons-line{
  height: 100%; border: 2px solid black;
}

.outro-text {
  padding: 0% 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.outro-text span {
  width: 100%;
  text-align: center;
  font-size: 2.8vw;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 190vh;

}
.review {
  width: 80%;
  display: flex;
  align-items: center;
}
.review-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-left img {
  border-radius: 200px;
  object-fit: contain;
  width: 50%;
  aspect-ratio: 1/1;
  border: 5px solid var(--darkBlue);
}
.review-left .testimonial-name {
  padding-top: 3%;
  font-size: 1.7vw;
}
.review-left .title {
  font-size: 0.9vw;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

.review-right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-right .testimonial-comment {
  text-align: left;
  font-size: 0.9vw;
  border: 2px solid var(--darkBlue);
  border-radius: 30px;
  padding: 3%;
  width: 90%;
  overflow: hidden;
  font-family: "Sharp Grotesk Medium 25", Arial, sans-serif;
  letter-spacing: 0.03vw;
}
.testimonials-bottom{
  display: flex;
  flex-direction: column;
align-items: center;
}
.testimonial-text {
  padding: 4% 0 ;
  display: flex;
  flex-direction: column;
}

.testimonial-text span {
  width: 100%;
  text-align: center;
  font-size: 3.2vw;
  line-height: 3vw;
}
.testimonial-line {
  width: 65%;
  border-bottom: 2px solid black;
}

.reasons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.reasons-section .reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5% 5% 2.5% 5%;
}
.reason .reason-title {
  text-align: center;
  margin: 3% 0%;
  font-size: 2vw;
}
.reason .reason-description {
  border: 2px solid var(--green);
  border-radius: 50px;
  padding: 2%;
  width: 70%;
  font-size: 1.2vw;
  text-align: left;
}
.about-section {
  height: calc(100vh - 75px);
  padding: 0px 10%;
  padding: 2% 5% 0 5%;
}

.about-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.about-content .about-text {
  width: 50%;
  border: 2px solid var(--darkBlue);
  padding: 4%;
  border-radius: 40px;
  height: 80%;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: -5%;
}
.about-content .img {
  height: 100%;
  width: 40%;
  position: relative;
}
.about-avatar {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-left: -5%;
}
.img-description{
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 1vw;
  position: absolute;
  bottom: 5%;
  left: -40%;
}
.arrow{
  position: absolute;
  width: 4vw;
  bottom: -60%;
  right: -40%;
  transform: rotate(30deg);
}
.pool-section{
  min-height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pool-text{
  height: auto;
  display: flex;
  flex-direction: column;
}
.pool-text span{
  text-align: center;
  font-size: 2vw;
}

.pool-section img{
  width: 45%;
  object-fit: contain;
}

.calendly{
  background-color: black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: var(--white-background);
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendly-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendly-title{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.8vw;
  padding: 5% 0%;
}
.calendly-line{
  border-bottom: 1px solid var(--white-background);
  width: 50%;
}
.calendly .calendly-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5% 0%;
}
.calendly-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1000px;
  padding: 1.5%;
  font-size: 1.5vw;
  background-color: var(--green);
  text-decoration: none;
  color: black;
}
.calendly-button span{
  padding: 1% 0%;
}
.calendly-button:hover{
  background-color: var(--lightBlue);
  border: 3px solid var(--green);
  background-color: transparent;
  color: var(--white-background);
}